/* MilitaryButton.css */

.military-btn {
    margin: 4px;
    padding: 8px 12px;
    border-radius: 6px;
    border: 1px solid #030638;
    background-color: #63879e;
    color: #fffefe;
    cursor: pointer;
    font-weight: 500;
    transition: all 0.2s ease-in-out; /* Dodajemy płynne przejście */
}

/* Styl dla aktywnego przycisku (wciśniętego) */
.military-btn.active {
    background-color: #105c8f; /* Czerwony wojskowy */
    color: white;
    border-color: #0f3a72;
    box-shadow: 0 0 5px rgba(14, 28, 107, 0.5);
}

/* Efekt najechania myszką (opcjonalny, ale ładny) */
.military-btn:hover:not(.active) {
    background-color: #ddd;
}